body {
  background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/nasty_fabric.png)
}


#borde-juego{
  background: gray;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-radius: 50%;
  width: 500px;
  height:500px;
  /*centrar*/
  position:relative;
  margin:auto;
  margin-top: 25vh;

  box-shadow: 8px 8px 15px 5px #888888;

}

#arriba-izq{
  background-color: darkgreen;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-radius: 250px 0 0 0;
  -moz-border-radius: 250px 0 0 0;
  -webkit-border-radius: 250px 0 0 0;
  width: 250px;
  height:250px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position:absolute;
/*  margin-right:50vw;*/
}
#arriba-der{
  background-color: darkred;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-radius: 0 250px 0 0;
  -moz-border-radius: 0 250px 0 0;
  -webkit-border-radius: 0 250px 0 0;
  width: 250px;
  height:250px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  left:250px;

}
#abajo-izq{
  background-color: DarkGoldenRod ;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-radius: 0 0 0 250px;
  -moz-border-radius: 0 0  0 250px;
  -webkit-border-radius: 0 0 0 250px;
  width: 250px;
  height:250px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
/*  margin-right: 50vw;*/
  top: 250px;

}
#abajo-der{
  background-color: darkblue;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-radius: 0  0 250px 0;
  -moz-border-radius: 0 0 250px 0;
  -webkit-border-radius: 0 0 250px 0;
  width: 250px;
  height:250px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  /*margin-left:0;*/
  left:250px;
  top:250px;
}

#circulo-interno{
  /*position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0px 0px -125px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;*/

  background-color: silver;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  width:250px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0px 0px -125px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  /*margin-top: 250px;
  margin-left:250px;*/

  text-align: center;
  padding-top: 100px;

}
